<a href="https://colab.research.google.com/github/SamuelKao/WhereToGo/blob/main/WhereAreYouGoing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# prompt: write code that allows me to navigate through my folders and print the files I find

import os

def print_files_in_folder(folder_path):
  for root, _, files in os.walk(folder_path):
    for file in files:
      print(os.path.join(root, file))

# Example usage (replace with your desired folder path)
folder_to_search = '/content/drive/My Drive/CSE151GP/data'  # Or any other path within your Google Drive
print_files_in_folder(folder_to_search)

# Axels Files, do not touch!

In [4]:

import pandas as pd

# Assuming the file is in the current working directory
#df = pd.read_parquet('/content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-03.parquet')
#print(df.head(10))


file_names = [f'/content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-{month:02}.parquet' for month in range(1, 13)]

total_rows = 0

for file_name in file_names:
  try:
    df = pd.read_parquet(file_name)
    total_rows += df.shape[0]
  except FileNotFoundError:
    print(f"File not found: {file_name}")

print(f"Total number of rows in all files: {total_rows}")

File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-01.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-02.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-03.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-04.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-05.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-06.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-07.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-08.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-09.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-10.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-11.parquet
File not found: /content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-12.parquet
Total number of rows in all files: 0

# Every body elses files, do touch!

In [5]:

import pandas as pd

# Assuming the file is in the current working directory
#df = pd.read_parquet('/content/drive/My Drive/CSE151GP/data/yellow_tripdata_2023-03.parquet')
#print(df.head(10))


file_names = [f'/content/drive/My Drive/CSE151GPshortcut/data/yellow_tripdata_2023-{month:02}.parquet' for month in range(1, 13)]

total_rows = 0

for file_name in file_names:
  try:
    df = pd.read_parquet(file_name)
    total_rows += df.shape[0]
  except FileNotFoundError:
    print(f"File not found: {file_name}")

print(f"Total number of rows in all files: {total_rows}")

Total number of rows in all files: 38310226

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-12-01 00:06:06,2023-12-01 00:15:47,0.0,1.10,1.0,N,230,48,1,10.00,3.5,0.5,1.50,0.0,1.0,16.50,2.5,0.0
1,1,2023-12-01 00:22:26,2023-12-01 00:28:53,0.0,1.50,1.0,N,142,238,1,9.30,3.5,0.5,2.85,0.0,1.0,17.15,2.5,0.0
2,1,2023-12-01 00:59:44,2023-12-01 01:13:22,2.0,2.20,1.0,N,114,186,1,13.50,3.5,0.5,3.00,0.0,1.0,21.50,2.5,0.0
3,2,2023-12-01 00:22:17,2023-12-01 00:30:59,1.0,0.66,1.0,N,79,79,2,7.20,1.0,0.5,0.00,0.0,1.0,12.20,2.5,0.0
4,2,2023-12-01 00:18:16,2023-12-01 00:25:32,2.0,2.20,1.0,N,229,263,1,11.40,1.0,0.5,2.00,0.0,1.0,18.40,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376562,2,2023-12-31 23:04:34,2023-12-31 23:13:58,NaN,1.34,NaN,None,233,163,0,12.08,0.0,0.5,0.00,0.0,1.0,16.08,NaN,NaN
3376563,2,2023-12-31 23:08:15,2023-12-31 23:08:23,NaN,0.00,NaN,None,48,48,0,25.98,0.0,0.5,0.00,0.0,1.0,27.48,NaN,NaN
3376564,2,2023-12-31 23:16:15,2023-12-31 23:30:28,NaN,3.71,NaN,None,196,198,0,16.68,0.0,0.5,0.00,0.0,1.0,18.18,NaN,NaN
3376565,2,2023-12-31 23:21:58,2023-12-31 23:34:29,NaN,5.20,NaN,None,140,148,0,19.64,0.0,0.5,0.00,0.0,1.0,23.64,NaN,NaN
3376566,2,2023-12-31 23:10:47,2023-12-31 23:27:58,NaN,6.81,NaN,None,237,261,0,27.18,0.0,0.5,0.00,0.0,1.0,31.18,NaN,NaN

In [8]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [12]:
df['pickup_date'] = df['tpep_pickup_datetime'].dt.date

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,pickup_date,dropoff_date
0,1,2023-12-01 00:06:06,2023-12-01 00:15:47,0.0,1.10,1.0,N,230,48,1,...,3.5,0.5,1.50,0.0,1.0,16.50,2.5,0.0,2023-12-01,2023-12-01
1,1,2023-12-01 00:22:26,2023-12-01 00:28:53,0.0,1.50,1.0,N,142,238,1,...,3.5,0.5,2.85,0.0,1.0,17.15,2.5,0.0,2023-12-01,2023-12-01
2,1,2023-12-01 00:59:44,2023-12-01 01:13:22,2.0,2.20,1.0,N,114,186,1,...,3.5,0.5,3.00,0.0,1.0,21.50,2.5,0.0,2023-12-01,2023-12-01
3,2,2023-12-01 00:22:17,2023-12-01 00:30:59,1.0,0.66,1.0,N,79,79,2,...,1.0,0.5,0.00,0.0,1.0,12.20,2.5,0.0,2023-12-01,2023-12-01
4,2,2023-12-01 00:18:16,2023-12-01 00:25:32,2.0,2.20,1.0,N,229,263,1,...,1.0,0.5,2.00,0.0,1.0,18.40,2.5,0.0,2023-12-01,2023-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376562,2,2023-12-31 23:04:34,2023-12-31 23:13:58,NaN,1.34,NaN,None,233,163,0,...,0.0,0.5,0.00,0.0,1.0,16.08,NaN,NaN,2023-12-31,2023-12-31
3376563,2,2023-12-31 23:08:15,2023-12-31 23:08:23,NaN,0.00,NaN,None,48,48,0,...,0.0,0.5,0.00,0.0,1.0,27.48,NaN,NaN,2023-12-31,2023-12-31
3376564,2,2023-12-31 23:16:15,2023-12-31 23:30:28,NaN,3.71,NaN,None,196,198,0,...,0.0,0.5,0.00,0.0,1.0,18.18,NaN,NaN,2023-12-31,2023-12-31
3376565,2,2023-12-31 23:21:58,2023-12-31 23:34:29,NaN,5.20,NaN,None,140,148,0,...,0.0,0.5,0.00,0.0,1.0,23.64,NaN,NaN,2023-12-31,2023-12-31
3376566,2,2023-12-31 23:10:47,2023-12-31 23:27:58,NaN,6.81,NaN,None,237,261,0,...,0.0,0.5,0.00,0.0,1.0,31.18,NaN,NaN,2023-12-31,2023-12-31